.bbs-wrapper {
  position: relative;
  top: 50px;
  background-color: white;
}
.bbs-top {
  width: 980px;
  height: 100px;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.desc {
  font-size: 36px;
  color: #147850;
}
.desctitle {
  font-size: 18px;
  color: #3f9f5f;
}
.desctitle i{
  margin: 0 5px;
  vertical-align: 5px;
}
.desctitle strong{
  font-weight: 500;
}
.descshare {
  padding-left: 14px;
  border-left: 1px solid #3f9f5f;
}
.write-article {
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  color: #fff;
  background-color: #1c95dd;
  font-size: 17px;
  font-weight: 500;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 470px;
  line-height: 470px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.bbs-carousel {
  margin-top: 50px;
}
.c1 {
  background-color: rgb(249, 250, 252);
}
.c3 {
  background-color: rgb(249, 250, 252);
}
.c2 {
  background-color: rgb(249, 250, 252);
}
.c4 {
  background-color: rgb(249, 250, 252);
}
.bbs-carousel img {
  margin: 0 auto;
  width: 800px;
}

.bbs-tabs .ant-tabs-nav-scroll {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
}
.bbs-tabs .ant-tabs-tab {
  margin: 0 162px 0 0;
}
.message-board h2 {
  text-align: center;
  font-size: 30px;
  margin: 40px;
}

.form-wrapper {
  margin: 0 auto;
  width: 800px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  background-size: 140px;
  border-radius: 8px;
}

.bbs-form {
  width: 100%;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  padding: 30px;
}

 .reply-wrapper {
   width: 500px;
   padding: 20px;
   margin: 5px;
   margin-left: 20px;
   background-color: rgb(246, 247, 247);
 }
 .reply-wrapper .username {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
 }