.bbs-wrapper {
  position: relative;
  top: 50px;
  background-color: white;
}
.bbs-top {
  width: 980px;
  height: 100px;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.desc {
  font-size: 36px;
  color: #147850;
}
.desctitle {
  font-size: 18px;
  color: #3f9f5f;
}
.desctitle i{
  margin: 0 5px;
  vertical-align: 5px;
}
.desctitle strong{
  font-weight: 500;
}
.descshare {
  padding-left: 14px;
  border-left: 1px solid #3f9f5f;
}
.write-article {
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  color: #fff;
  background-color: #1c95dd;
  font-size: 17px;
  font-weight: 500;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 470px;
  line-height: 470px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.bbs-carousel {
  border: 1px solid red;
  margin-top: 50px;
}
.c1 {
  background-color: rgb(249, 250, 252);
  /* background-color: rgb(37, 77, 110); */
}
.c3 {
  background-color: rgb(249, 250, 252);
  /* background-color: rgb(20, 22, 24); */
}
.c2 {
  background-color: rgb(249, 250, 252);
}
.c4 {
  background-color: rgb(249, 250, 252);
  /* background-color: rgb(201, 143, 77); */
}
.bbs-carousel img {
  margin: 0 auto;
  width: 800px;
}

