.desti-layout .bg-img{
  position: absolute;
}
.search-wrapper {
  position: absolute;
  top: 50%;
  text-align: center;
  margin: 30px;
  transform:translateX(-50%) translateY(-60%);
  left: 50%;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Avenir Next", Avenir, "Hiragino Sans GB", sans-serif !important;
}
.title-box {
  font-size: 56px;
  color: #fff;
  font-weight: 700;
  margin: 20px;
  text-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.input-search {
  height: 70px;
  font-size: 26px;
  font-family: Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,\5b8b\4f53,sans-serif;
}
.input-search .ant-input {
  font-size: 21px;
}
.desti-layout .price {
  font-size: 16px;
  color: silver;
}
.desti-layout .price em {
  font-size: 32px;
  font-weight: 500;
  color: #ff7467;
  font-style: normal;
}